<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rollingpaper.ggeujeogggeujeog.board.infrastructure.BoardMapper">

    <insert id="save" parameterType="com.rollingpaper.ggeujeogggeujeog.board.domain.Board">
        INSERT INTO board (board_title, theme, is_opened, created_time, updated_time, user_id)
        VALUES (#{boardTitle}, #{theme}, #{isOpened}, #{createdDate}, #{updatedDate}, #{userId})
    </insert>

    <select id="findByUserId" resultType="com.rollingpaper.ggeujeogggeujeog.board.domain.Board">
        SELECT board_title, theme, is_opened, updated_time
        FROM board
        WHERE user_id = #{userId}
    </select>
    
    <delete id="delete">
        DELETE FROM board WHERE id = #{boardId}
    </delete>
    
    <update id="update">
        UPDATE board
        SET board_title = #{Board.boardTitle},
            theme = #{Board.theme},
            is_opened = #{Board.isOpened}
        WHERE id = #{BoardId.boardId}
    </update>
</mapper>