<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rollingpaper.ggeujeogggeujeog.notification.infrastructure.NotificationMapper">
    <select id="findAllByUserId" resultType="com.rollingpaper.ggeujeogggeujeog.notification.domain.Notification">
        SELECT *
        FROM notification
        WHERE user_id = #{userId}
    </select>

    <select id="findById" resultType="com.rollingpaper.ggeujeogggeujeog.notification.domain.Notification">
        SELECT *
        FROM notification
        WHERE id = #{notificationId}
    </select>

    <update id="update" parameterType="com.rollingpaper.ggeujeogggeujeog.notification.domain.Notification">
        UPDATE notification
        SET title = #{message.title},
            content = #{message.content},
            type = #{message.type},
            type_id = #{message.typeId},
            status = #{status}
        WHERE id = #{id}
    </update>

    <insert id="save" parameterType="com.rollingpaper.ggeujeogggeujeog.notification.domain.Notification">
        INSERT INTO notification (title, content, type, type_id, status, user_id)
        VALUES (#{message.title}, #{message.content}, #{message.content}, #{message.type}, #{status}, #{userId})
    </insert>
</mapper>