<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rollingpaper.ggeujeogggeujeog.notification.infrastructure.NotificationMapper">

    <insert id="saveEvent" parameterType="com.rollingpaper.ggeujeogggeujeog.outbox.domain.Event">
        INSERT INTO outbox (aggregate_type, aggregate_id, type, payload)
        VALUES (#{aggregateType}, #{aggregateId}, #{type}, #{payload})
    </insert>

    <update id="deleteEvent" parameterType="com.rollingpaper.ggeujeogggeujeog.outbox.domain.Event">
        UPDATE outbox
        SET deleted = 1
        WHERE id = #{id}
    </update>

    <select id="findAllByAggregateType" resultType="com.rollingpaper.ggeujeogggeujeog.outbox.domain.Event">
        SELECT *
        FROM outbox
        WHERE aggregate_type = #{type} AND deleted = 0
    </select>

</mapper>